<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1057252264961-vdfhroe0m1aqfrh5frn2rp1bh830tfbg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1057252264961-vdfhroe0m1aqfrh5frn2rp1bh830tfbg</string>
	<key>API_KEY</key>
	<string>AIzaSyCOjAbzsUeOzaSUKYz0DmQn-d6083jHhzA</string>
	<key>GCM_SENDER_ID</key>
	<string>1057252264961</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.asu.Mathew.MacMillan.Final335</string>
	<key>PROJECT_ID</key>
	<string>signin-test-e6793</string>
	<key>STORAGE_BUCKET</key>
	<string>signin-test-e6793.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1057252264961:ios:a963bd7c78593a03830400</string>
</dict>
</plist>